{% extends "base.html" %}

{% block head %}
<title>Cool Guys Club</title>
{% endblock %}

{% block body %}
<header>
    <img src="static/basket-02.png" style="margin-top: 50px; margin-bottom: -17px;">

</header>

<div class="sticky-bar">
    <h1 class="boxed-title">
        <a href="/">Cool guys club</a>
    </h1>
        {% for number in my_list %}
    <a href="/{{ number }}" style="margin-bottom: 10px; ">  {{ number }}  </a>
    {% endfor %}
</div>






<div class="box">
<table>
    {% for key,value in my_dict.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>
    <form action="/" method="POST">
        <div class = "row">
            <input style="" type="text" name="adj" placeholder="adjective"><input type="text" name="name" placeholder="name">
        </div>
        <button type="submit" class="link-button">Add row</button>
    </form>
</div>



{% endblock %}