{% extends "base.html" %}

{% block head %}
<title>Cool Guys Club</title>
{% endblock %}

{% block body %}
<header>
    <div class="underline">
        <a href="/">
        <h1> Cool guys club</h1>
        </a>
    </div>


    {% for number in my_list %}
    <a href="/{{ number }}">  {{ number }}  </a>
    {% endfor %}

</header>

<div class="box">
<table>
    {% for key,value in my_dict.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>
    <form action="/" method="POST">
        <div class = "row">
            <input style="" type="text" name="adj" placeholder="adjective"><input type="text" name="name" placeholder="name">
        </div>
        <button type="submit" class="link-button">Add row</button>
    </form>
</div>



{% endblock %}