{% extends "base.html" %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
{% endblock %}
{% block body %}
<body>
    <form action="http://localhost:5000/setcookie" method="POST">
        <h1>Enter userID for cookie:</h1>
        <p><input type="text" name="nm"/></p>
        <p><input type="submit" value="Login"/></p>
    </form>


    {% if error %}
        <p><strong>Error: </strong> {{ error }}</p>
    {% endif %}
    <form action="http://localhost:5000/login" method="POST">
        <h1>Enter Name for login: </h1>
        <p style="text-align: right;">
            <label>Login <input type="text" name="nm" /></label>
        </p>
        <p style="text-align: right;">
            <label>Password <input type="password" name="pass" /></label>
        </p>
<!--        <p><input type="submit" value="Login" /></p>-->
        <p>
            <button type="submit" class="link-button">Login</button>
        </p>
    </form>

    <form action="http://localhost:5000/result" method="POST">
        <h1>Table form: </h1>
        <p style="text-align: right;"> Drawing <input type="text" name="Drawing" /></p>
        <p style="text-align: right;"> Chess <input type="text" name="Chess" /></p>
        <p style="text-align: right;"> Carving <input type="text" name="Carving" /></p>
        <p> <input type="submit" value="Submit" /></p>
    </form>

    <form action="http://localhost:5000/2login" method="POST">
        <h1>Second login: </h1>
        <p><input type = "text" name="username"/></p>
        <p><input type="submit" value="Login"></p>
    </form>
</body>
{% endblock %}
