{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block body %}

    <form action="/" method="POST">
        <div class="form-box">
            <input type="text" name="name" placeholder="name">
            <input  type="text" style="width: 70px;" name="price" placeholder="$">
            <input style="width: 50px;" type="text" name="quantity" placeholder="q">
        </div>
        <button type="submit" class="link-button">Submit</button>
    </form>

<div class="box">
<table>
    <thead>
    <tr>
        <th></th>
<!--        <th>id</th>-->
        <th>name</th>
        <th>$</th>
        <th>q</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data%}
    <tr>
        <td style="width: 20px;"><a href="{{ url_for('delete', id=row[0]) }}">x</a></td>
<!--        <td>{{row[0]}}</td>-->
        <td><a href="{{ url_for('update', id=row[0]) }}">{{ row[1] }}</a></td>
        <td><a href="{{ url_for('update', id=row[0]) }}">{{ row[2] }}</a></td>
        <td><a href="{{ url_for('update', id=row[0]) }}">{{ row[3] }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}